<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AirCargoKPI</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Links-icons.css">
</head>

<body style="background: var(--bs-secondary);color: var(--bs-light);">
    <div class="row d-flex align-items-center align-content-center" style="padding-top: 5%;">
        <div class="col d-flex justify-content-center" style="font-weight: bold;">
            <header>
                <h1>MSCAir Safety KPI</h1>
            </header>
        </div>
    </div>
    <div class="row" style="padding-top: 5%;">
        <div class="col">
            <header>
                <h2 class="d-flex justify-content-center">MSC Air - Safety Performance Indicator</h2>
            </header>
        </div>
    </div>
    <div class="row" style="padding-top: 2.55%;">
        <div class="col">
            <header>
                <h3 class="d-flex justify-content-center">Welcome to MSC Air KPI Performance Indicator App. Select your department to start inserting data.</h3>
            </header>
        </div>
    </div>
    <footer class="d-flex justify-content-center">
        <p>© MSC Technology Italia 2025 - Built with ❤️ in Italy</p>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="assets/js/Datatables-like-scrips-datatables.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Rakhmadi/RdataTB@master/dist/index.js"></script>
</body>

</html>