<!DOCTYPE html>
<html class="mb-xl-0 pb-xl-0" data-bs-theme="light" lang="en" style="height: auto;width: auto;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AirCargoKPI</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Links-icons.css">
</head>

<body style="height: auto;width: auto;text-align: center;background: url(&quot;assets/img/MSCAirCargo.jpg&quot;) center / cover no-repeat;">
    <section class="position-relative mt-xl-0 py-4 py-xl-5" style="width: auto;">
        <div class="container h-100" style="margin-top: 20%;margin-bottom: 25%;text-align: center;">
            <div class="row h-100" style="border-radius: 15;background: #cccccc9f;">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center mx-auto">
                    <div>
                        <h2 class="text-uppercase fw-bold mb-3" style="font-weight: bold;">Welcome to MSC AIR SPIS</h2>
                        <p class="mb-4">Your one-stop solution for safety and operational insights.</p><button class="btn btn-outline-primary fs-5 px-4 py-2" type="button"><strong>ENTER</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="assets/js/Datatables-like-scrips-datatables.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Rakhmadi/RdataTB@master/dist/index.js"></script>
</body>

</html>