<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AirCargoKPI</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Links-icons.css">
</head>

<body class="h-auto align-content-center" style="background: url(&quot;assets/img/MSCAirCargo.jpg&quot;) top / cover no-repeat;">
    <div class="container align-items-center" style="margin-top: auto;">
        <section class="py-4 py-xl-5" style="background: #9f9f9fa6;display: flex;border-radius: 10px;">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center mx-auto">
                        <div>
                            <h2 class="text-uppercase fw-bold mb-3" style="font-size: 45px;font-weight: bold;"><strong><span style="color: rgb(255, 255, 255);">Welcome to MSC AIR SPIs</span></strong></h2>
                            <p class="mb-4" style="color: rgb(0,0,0);font-size: 20px;">Your one-stop solution for safety and operational insights.</p><button class="btn btn-primary fs-5 me-2 px-4 py-2" type="button" style="background: var(--bs-warning);"><strong>ENTER</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="d-flex justify-content-center">
        <p>© MSC Technology Italia 2025 - Built with ❤️ in Italy</p>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="assets/js/Datatables-like-scrips-datatables.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Rakhmadi/RdataTB@master/dist/index.js"></script>
</body>

</html>